.button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_photo {
  display: flex;
  margin-bottom: 20px;
}

.header {
  padding-left: 100px;
}

.header__text {
  padding-bottom: 15px;
}

.list {
  margin-left: 100px;
  max-width: 350px;
}

.listitem {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 100%;
}
